
.scale{
    width: 30px;
    height: 30px;
    ?
    /* increases the width 10 times, height 2 times*
    transform: scale (10, 2);

    /* decreases the width in half, height in quarter*
    transform: scale(0.5, 0.25);

    /* flips the x-axis *
    transform: scale(-5, 1);
    transform: scale(-5);

    /*flips the y-axis 
    transform: scale(1, -5);
    transform: scale(-5);*/
    
    float: :right
} 

.box{
    background:red;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 20px;
}
.skew-20{
    transform: skewX(20deg);
}

.skew-neg-20{
    /*transform: skewX(-20deg);*/
    animation: skew-horizontal 3s
    infinite;
    animation-direction: alternate;
}

.skew-neg-50{
    transform: skewY(-50deg);
}
@keyframe skew-horizontal {
    0%{
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}